* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: grey;
}

/* Main Container Styles */
#mainContainer {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 25px 45px;
    margin: 100px auto 10px;
    border-radius: 20px;
}

#row {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    height: 45px;
    margin: 20px 0px;
}

#inputBox {
    border-radius: 20px;
    width: 70%;
    height: 35px;
    margin: 0 10px;
    padding: 0px 10px;
    background: transparent;
    border: none;
    outline: none;
}

#addBtn {
    background-color: lightblue;
    outline: none;
    border: none;
    border-radius: 30px;
    height: 45px;
    width: 100px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

#addBtn:hover {
    background-color: rgb(165, 206, 219);
}

/* List Section Styles */
#tasks {
    margin: 0 10px;
}

ul li {
    list-style: none;
    padding: 5px 0 5px 30px; 
    position: relative;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    background-image: url("../images/circle-regular.svg");
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 5px;
}

li span { 
    content: 'X';
    position: absolute;
    right: 0;
    background-image: url("../images/circle-xmark-regular.svg");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 10px;
}

li span:hover {
    background-color: rgba(88, 88, 88, 0.164);
}

.completed {
    text-decoration: line-through;
    color: rgb(145, 145, 145);
}

.completed::before {
    content: '';
    position: absolute;
    background-image: url("../images/circle-solid.svg");
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 5px;
}

